# Integration Configuration Template
#
# Variables:
#   {{name}}           -- integration name
#   {{version}}        -- integration version
#   {{auth_type}}      -- authentication type
#   {{auth_token_env}} -- env var name for auth token
#   {{endpoints}}      -- YAML block of endpoint definitions
---
name: {{name}}
version: {{version}}
auth_type: {{auth_type}}
auth_token_env: {{auth_token_env}}

endpoints:
{{endpoints}}